@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://tokenshit.xyz/fonts/stylesheet.css');
     
html,
body {
  padding: 0;
  margin: 0;    
  font-family: monospace;                                            
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  font-family: 'Karmatic Arcade';
  text-transform: uppercase;
}